.dynamic-form {
  --settings-bg: var(--containerBg);

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  left: 50%;
  top: 50%;
  translate: -50% -50%;

  background: var(--settings-bg);
  padding: 2rem;

  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

  width: 90%;
  max-width: 500px;

  font-family: var(--normal-font);
  z-index: 1001;
}

.form-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.dynamic-form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dynamic-form label {
  color: var(--secondaryFg);
  font-size: 0.9rem;
  font-family: var(--mono-font);
}

.dynamic-form input,
.dynamic-form .custom-select-trigger {
  background: var(--settings-bg);
  padding: 0.8rem;
  height: 3rem;

  border: 1px solid var(--secondaryFg);
  border-radius: 4px;

  color: var(--fg);
  font-size: 1rem;

  transition: all 0.2s ease;

  &:focus {
    outline: none;
    border-color: var(--hover-color);
    box-shadow: 0 0 0 2px rgba(25, 228, 255, 0.2);
  }
}
.dynamic-form input[type="checkbox"] {
  padding: 1.4rem 0;

  appearance: none;
  cursor: pointer;

  position: relative;
  &::after {
    font-weight: 1000;
    font-size: 1.5rem;

    color: white;
    position: absolute;

    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "";
    color: gray;
  }

  &:checked {
    background-color: var(--hover-color);
  }
}

label:has(+ input[type="checkbox"]) {
  color: lightcoral;
}
label:has(+ input[type="checkbox"]:checked) {
  color: lightgreen;
}

input[type="color"] {
  appearance: none;
  border: none;
  width: 100%;
  padding: 0;

  cursor: pointer;
}

.dynamic-form button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  font-family: var(--mono-font);

  transition: all 0.2s ease;
  &:hover {
    filter: brightness(1.2);
  }
}

.dynamic-form button[type="submit"] {
  background: var(--green);
  color: #000;
}

.dynamic-form .secondary-button {
  background: var(--red);
  color: #000;
}

.dynamic-form .cancel-button {
  background-color: rgb(181, 181, 181);
}

.button-container {
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

/* ------------ select color thingy --------*/

.custom-select-container {
  position: relative;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select-trigger {
  position: relative;
  display: flex;
  align-items: center;

  transition: all 0.2s ease;
  cursor: pointer;
}

.dynamic-form .custom-options {
  display: none;
  background: var(--settings-bg);

  border: 1px solid var(--secondaryFg);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

  overflow-y: auto;

  z-index: 10;
}

.dynamic-form .custom-options.open {
  display: block;
}

.dynamic-form .custom-option {
  padding: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
