:root {
  --bg-image-light: ;
  --bg-image-dark: ;
  --bg-image: var(--bg-image-light);

  --normal-font: "Roboto";
  --mono-font: "Roboto Mono";

  --active-color: #fff;
  --background-shadow-settings: rgba(255, 255, 255, 0.05);

  --blur: 0px;
  --transparency: 1;

  background-color: var(--containerBg) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: var(--bg-image-dark);
  }
}

* {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0;
}
