/* General Styles */
body {
  background-color: #303030;
  background: var(--bg-image);
  background-size: cover;
  background-position: center;
  margin: 0;

  font-family: var(--normal-font), system-ui;
}

body * {
  user-select: none;
}

.container-card {
  border-radius: 3px;
  background-color: var(--containerBg);
  color: var(--fg);
}

.random-buttons {
  position: absolute;
  right: 2rem;
  top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon {
  box-sizing: content-box;

  width: 2.5rem;
  cursor: pointer;

  transition: transform 0.15s;

  background-color: #303030;
  padding: 0.5rem;
  border-radius: 5px;
}

.icon:hover {
  transform: scale(1.1);
}

.icon:active {
  transform: scale(0.9);
}

/* Container */
.container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-width: 70vw;
}

/* Top Row (clock + search) */
#top-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock-search-sep {
  display: none;
}

/* Clock */
#clock {
  font-family: var(--mono-font);
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 0.25em;
  padding: 0.2em;

  position: relative;
  backdrop-filter: blur(var(--blur));

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--containerBgHover);
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;

    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }
}

#clock::after {
  content: attr(data-day);
  position: absolute;
  left: 0.25rem;
  top: 0.15rem;

  opacity: 0.7;
  font-weight: 400;
  font-family: inherit;
  font-size: 0.25em;
}

/* Message Container */
.message-container {
  backdrop-filter: blur(var(--blur));

  width: 35%;
  min-width: 350px;
  background-color: var(--containerBg);
  padding: 0.75em;
  border-radius: 3px;

  font-family: var(--normal-font);
  color: var(--fg);
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;

  user-select: none;

  border: none;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--containerBgHover);
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;

    z-index: -1;
  }

  &:hover::before,
  &:not(:has(*:placeholder-shown))::before {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

/* Bookmark Container */
#bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  margin: 1em 0;

  max-width: calc(260px * 4 + 1rem * 4);
  flex-wrap: wrap;
  gap: 1rem;
}

/* Bookmark Set */
.bookmark-set {
  padding: 1em;
  background: linear-gradient(var(--containerBg) 18em,
      var(--accent-container) 18.01em);
  border-radius: 3px;
  font-family: var(--mono-font);
  font-size: 1rem;
  width: 25%;
  height: 19em;
  max-width: 260px;
  box-sizing: border-box;

  backdrop-filter: blur(var(--blur));



  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--containerBgHover) 18em,
        var(--accent-container) 18.01em);
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;

    z-index: -1;
  }

  &:hover::before,
  &:has(.found)::before {
    opacity: 1;
  }
}

/* Bookmark Inner Container */
.bookmark-inner-container {
  overflow-y: scroll;
  height: 15em;
  padding-right: 6px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor) #ffffff00;
}

/* Bookmark Title */
.bookmark-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--accent-container);
  margin: 0 0 0.35em;
  font-family: Roboto;
}

/* Bookmark Link */
.bookmark {
  text-decoration: none;
  color: var(--bookmark-color);
  display: block;
  margin: 0.75em 0;

  transition: opacity 0.5s;
}

.divider {
  display: block;
  width: 100%;
  height: 2px;

  color: inherit;

  background-color: var(--accent-container);
}

.on {
  color: var(--active-color);
}

.bookmark .favicon {
  display: none;
}

.bookmark:hover {
  color: var(--hover-color);
}

/* Responsive Styles */
@media only screen and (max-width: 1300px) {
  body {
    height: 100%;
    display: grid;
    place-content: center;
  }

  #clock {
    margin-top: 2rem;
  }

  #bookmark-container {
    overflow: scroll;
  }

  #bookmark-container>.bookmark-set {
    width: calc(50% - 40px);
  }

  .timer {
    display: none;
  }

  .message-container {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  #bookmark-container {
    width: 90%;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .bookmark-title {
    font-size: 1.2rem;
  }

  .random-buttons {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  #bookmark-container>.bookmark-set {
    width: 100%;
  }

  .message-container {
    margin-top: 1rem;
    min-width: 85%;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
#bookmark-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#bookmark-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
