.time-stuff-container {
  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 1rem;
}

.time-stuff-container div {
  width: fit-content;
  height: fit-content;

  font-family: var(--normal-font);
  font-size: 2rem;

  cursor: pointer;
}

.time-stuff-container div p {
  margin: 0;
  padding: 0.5em;
}
